@elabcom rc file Version 1.0
[oh]
invokeDir = /home/milo/Codes/ICCodes/mcu51
hostCommand = -lib simv.daidir/work -elab simv.daidir/kdb -simflow -top "tb_get_ins " -SNPS_ELABCOM -saveElab
simType = VCS
