@elabcom rc file Version 1.0
[oh]
invokeDir = /mnt/d/Cumt/Documents/ICCodes/mcu51
hostCommand = -lib simv.daidir/work -elab simv.daidir/kdb -simflow -top "tb_get_ins ALEGen " -SNPS_ELABCOM -saveElab
simType = VCS
